<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
<form th:action="@{/savedOrders.do}" method="post">
    <h2>Orders</h2>
    <th:block th:each="order : ${savedOrders}">
        <li th:text="|${order.orderId}  ${order.pizzaType}  ${order.pizzaSize}  ${order.clientName}  ${order.clientAddress}|"></li>
    </th:block><br/>
    <input type="submit" text="Submit" value="Exit"/>
</form>
</body>
</html>